* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    padding: 40px;
  }

  
  #volume {
    height: 150px;
    width: 150px;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-wrapper {
   display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
  }

  .slider-wrapper input {
   width: 150px;
  height: 150px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);

  }